@charset "UTF-8";

body {
	margin: 0 0;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	color: white;
	font-weight: bold;
	background-color: white;
}

.vertical-center {
	position: relative;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

a {
	color: white;
}

.left {
	float: left;
}

.right {
	float: right;
}

#center {
	width: 100%;
	position: relative;
}