#bottom-row {
	width: 100%;
}

#ingredient-text, #direction-text {
	height: 100%;
	width: 50%;
	font-size: 2em;
}

#ingredient-text {
	background-color: red;
}

#direction-text {
	background-color: green;
}