@charset "UTF-8";
@import url(basic.css);
@import url(top-row.css);
@import url(bottom-row.css);

#main:hover {
	color: purple;
}

#info {
	font-size: 0.25em;
	background-color: blue;
}

#filter:hover {
	color: orange;
}

#center {
	background-color: green;
	height: 80%;
	font-size: 1em;
}

#left-column {
	height: 100%;
	width: 10%;
	text-align: center;	
}

#right-column {
	height: 100%;
	width: 90%;
	text-align: left;
}

#bottom-row {
	height: 10%;
}

#ingredient-text:hover {
	color: red;
}

#main:hover, #filter:hover, #ingredient-text:hover {
	background-color: white;
}

