@charset "UTF-8";
@import url(basic.css);

#top-row {
	height: 10%;
	width: 100%;
	font-size: 2.5em;
}

#main {
	background-color: purple;
	height: 100%;
	width: 35%;
	font-size: 0.4em;
}

#main:hover {
	color: purple;
	cursor: pointer;
	background-color: white;
}

#filter {
	background-color: red;
	height: 100%;
	width: 35%;
}

#info {
	background-color: red;
	height: 100%;
	width: 30%;
}

p {
	word-break:break-all;
	white-space: normal;
}

#center {
	background-color: red;
	height: 90%;
	font-size: 1.5em;
}
