@charset "UTF-8";
@import url(basic.css);
@import url(top-row.css);

p {
	word-break:break-all;
	white-space: normal;
}

td {
	font-size: 1em;
}

#filter:hover {
	color: orange;
}

#icon:hover {
	color: purple;
}

#center {
	background-color: blue;
	height: 90%;
	width: 100%;
	font-size: 1em;
	padding: 0 10%;
	text-align: left;
}

#main:hover, #filter:hover{
	background-color: white;
}
