@charset "UTF-8";
@import url(basic.css);
@import url(top-row.css);

#main:hover {
	color: purple;
}

#info:hover {
	color: blue;
}

#center {
	background-color: white;
	height: 90%;
	font-size: 3.5em;
}

#top-choose, #bottom-choose {
	position: relative;
	height: 50%;
	width: 100%;
}

#chicken, #pig, #cow, #other {
	width: 50%;
	height: 100%;
}

#chicken {
	background-color: purple;
}

#pig {
	background-color: orange;
}

#cow {
	background-color:orange;
}

#other {
	background-color: purple;
}

#main:hover, #info:hover {
	background-color: white;
}

#chicken:hover, #pig:hover, #cow:hover, #other:hover {
	background-color: white;
}


#other:hover {
	color: purple;
}
