@charset "UTF-8";
@import url(basic.css);
@import url(top-row.css);
@import url(bottom-row.css);

#center {
	background-color: purple;
	height: 70%;
}

.recipe-name {
	font-size: 1.5em;
	max-width: 1024px;
	overflow-wrap: break-word;
}

#guide {
	font-size: 1.5em;
	position: fixed;
	opacity: 0.5;
	top: 20%;
}

#background-symbol {
	font-size: 15em;
	position: fixed;
	opacity: 0.2;
	top: 43%;
	left: 50%;
}

#newRandom:hover {
	text-decoration: none;
	color: white;
}

#bottom-row {
	height: 20%;
}

#filter:hover, #info:hover, #ingredient-text:hover, #direction-text:hover {
	background-color: white;
}

#filter:hover {
	color: orange;
}

#info:hover {
	color: blue;
}

#ingredient-text:hover {
	color: red;
}

#direction-text:hover {
	color: green;
}