@charset "UTF-8";
@import url(basic.css);
@import url(top-row.css);

#filter:hover {
	color: orange;
}

#center {
	background-color: blue;
	height: 90%;
}

p {
	word-break:break-all;
	white-space: normal;
}

.info-center-text {
	font-size: 0.8em;
}

#essence {
	font-size: 4em;
}

#main:hover, #filter:hover {
	background-color: white;
}
