@charset "UTF-8";
@import url(basic.css);
@import url(top-row.css);
@import url(bottom-row.css);

#main:hover {
	color: purple;
}

#info {
	font-size: 0.25em;
}

#filter:hover {
	color: orange;
}

#center {
	background-color: red;
	height: 80%;
	font-size: 1em;
}

#left-column {
	height: 100%;
	width: 20%;
	text-align: center;
}

#right-column {
	height: 100%;
	width: 80%;
	text-align: left;
}

#bottom-row {
	height: 10%;
}

#direction-text:hover {
	color: green;
}

#main:hover, #filter:hover, #direction-text:hover {
	background-color: white;
}