#top-row {
	height: 10%;
	width: 100%;
	font-size: 2.5em;
}

#main {
	background-color: purple;
	height: 100%;
	width: 30%;
	font-size: 0.4em;
}

#info {
	background-color: blue;
	height: 100%;
	width: 40%;
}

#filter {
	background-color: orange;
	height: 100%;
	width: 30%;
}