<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title th:text="#{mainTitle}">Cím</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/direction.css" th:href="@{../css/direction.css}"/>
</head>
<body>
	<div id="top-row">
		<a href="/" th:href="@{/}">
			<div id="main" class="left">
				<p class="vertical-center" th:text="#{mainTitle}">Mit főzzek?</p>
			</div>
		</a>
		<div id="info" class="left">
			<div class="vertical-center info">
				<p id="actual-name" th:text="${actualName}">&#128712;</p>
				<p th:inline="text">Forrás: [[${actualSource}]]</p>
			</div>
		</div>
		<a href="filter.html" th:href="@{/filter}">
			<div id="filter" class="right">
				<p class="vertical-center">&#8981;</p>
			</div>
		</a>
	</div>

	<table id="center">
		<tr id="direct-list" th:each="direction: ${directionList}">
			<td id="left-column" class="left" th:text="${directionStat.count}">sorszám</td>
			<td id="right-column" class="right" th:text="${direction}">elkészítés</td>
		</tr>
	</table>

	<div id="bottom-row">
		<a href="ingredients.html" th:href="@{'/ingredients/' + ${actualId}}">
			<div id="ingredient-text" class="left">
				<p class="vertical-center" th:text="#{ingredients}">Hozzávalók</p>
			</div>
		</a>
		<div id="direction-text" class="right">
			<p class="vertical-center" th:text="#{direction}">Elkészítés</p>
		</div>
	</div>
</body>
</html>