<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title th:text="#{mainTitle}">Cím</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/error.css" />
</head>
<body>
	<div id="top-row">
		<a href="/" th:href="@{/}">
			<div id="main" class="left">
				<p class="vertical-center">Mit főzzek?</p>
			</div>
		</a>
		<div id="info" class="left">
			<p class="vertical-center info"></p>
		</div>

		<div id="filter" class="right">
			<p class="vertical-center"></p>
		</div>
	</div>

	<div id="center">
		<p class="vertical-center">
			Sajnos rossz oldalra kerültél.<br />A bal felső gomb segítségével<br />visszatérhetsz
			a főoldalra.
		</p>
	</div>
</body>
</html>