<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title th:text="#{mainTitle}">Cím</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/feedback.css" th:href="@{../css/feedback.css}"/>
</head>
<body>
	<div id="top-row">
		<a href="/" th:href="@{/}">
			<div id="main" class="left">
				<p class="vertical-center" th:text="#{mainTitle}">Mit főzzek?</p>
			</div>
		</a>
		<div id="info" class="left">
			<p class="vertical-center info">&#128712;</p>
		</div>
		<a href="add.html" th:href="@{add}">
			<div id="filter" class="right">
				<p class="vertical-center">NEW</p>
			</div>
		</a>
	</div>

	<div id="center">
		<h1>Új receptet adtál meg a következő
			adatokkal:</h1>

		<table >
			<tr>
				<td>Név:</td>
				<td th:text="${newRecipeName}">Név</td>
			</tr>
			<tr>
				<td>Kategória:</td>
				<td th:text="${newRecipeCategory}">Kategória</td>
			</tr>
			<tr>
				<td>Hozzávalók:</td>
				<td th:text="${newRecipeIngredients}">Hozzávalók</td>
				
			</tr>
			<tr>
				<td>Elkészítés:</td>
				<td th:text="${newRecipeDirection}">Elkészítés</td>
				
			</tr>
			<tr>
				<td>Forrás:</td>
				<td th:text="${newRecipeSource}">Forrás</td>
			</tr>	
		</table>
	</div>
</body>
</html>