<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title th:text="#{mainTitle}">Cím</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/filter.css" />
</head>
<body>
	<div id="top-row">
		<a href="/" th:href="@{/}">
			<div id="main" class="left">
				<p class="vertical-center" th:text="#{mainTitle}">Mit főzzek?</p>
			</div>
		</a>
		<a href="info.html" th:href="@{/info}">
			<div id="info" class="left">
				<p class="vertical-center info">&#128712;</p>
			</div>
		</a>
		<div id="filter" class="right">
			<p class="vertical-center">&#8981;</p>
		</div>
	</div>
	<div id="center">
		<div id="top-choose">
			<a href="filterPig.html" th:href="@{filter/pig}">
				<div id="pig" class="right">
					<p class="vertical-center">&#x1F416;</p>
				</div>
			</a>
			<a href="filterChicken.html" th:href="@{'/filter/chicken'}">
				<div id="chicken" class="left">
					<p class="vertical-center info">&#x1F414;</p>
				</div>
			</a>
		</div>
		<div id="bottom-choose">
			<a href="filterCow.html" th:href="@{filter/cow}">
				<div id="cow" class="left">
					<p class="vertical-center">&#x1f404;</p>
				</div>
			</a>
			<a href="filterOther.html" th:href="@{filter/other}">
				<div id="other" class="right">
					<p class="vertical-center" th:text="#{other}">OTHER</p>
				</div>
			</a>
		</div>
	</div>
</body>
</html>