<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title th:text="#{mainTitle}">MF?</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/index.css" />
</head>
<body>
	<div id="top-row">
		<div id="main" class="left">
			<p class="vertical-center" th:text="#{mainTitle}">Mit főzzek?</p>
		</div>
		<a href="info.html" th:href="@{/info}">
			<div id="info" class="left">
				<p id="info-icon" class="vertical-center info">&#128712;</p>
			</div>
		</a>
		<a href="filter.html" th:href="@{/filter}">
			<div id="filter" class="right">
				<p id="filter-icon" class="vertical-center">&#8981;</p>
			</div>
		</a>
	</div>	
	
	<a id="newRandom" onclick="reLoad()">
		<div id="center">
			<p id="guide" class="vertical-center" th:text="#{guide}">Új receptért kattints a honlap közepére!</p>
			<p class="vertical-center recipe-name" th:text="${actualName}">paprikás
				krumpli</p>
			<p id="background-symbol" class="vertical-center">&#8634;</p>
		</div>
	</a>

	<div id="bottom-row">
		<a href="ingredients.html" th:href="@{'/ingredients/' + ${actualId}}" >
			<div id="ingredient-text" class="left">
				<p class="vertical-center" th:text="#{ingredients}">Hozzávalók</p>
			</div>
		</a>
		<a href="direction.html" th:href="@{'/direction/' + ${actualId}}">
			<div id="direction-text" class="right">
				<p class="vertical-center" th:text="#{direction}">Elkészítés</p>
			</div>
		</a>
	</div>
	
	<script src="../js/index.js"></script>
</body>
</html>