<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title th:text="#{mainTitle}">Cím</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/info.css" />
</head>
<body>
	<div id="top-row">
		<a href="/" th:href="@{/}">
			<div id="main" class="left">
				<p class="vertical-center" th:text="#{mainTitle}">Mit főzzek?</p>
			</div>
		</a>
		<div id="info" class="left">
			<p class="vertical-center info">&#128712;</p>
		</div>
		<a href="filter.html" th:href="@{filter.html}">
			<div id="filter" class="right">
				<p class="vertical-center">&#8981;</p>
			</div>
		</a>
	</div>
	<div id="center">
		<div class="vertical-center">
			<p class="info-center-text" th:text="#{info1}">A honlap célja,</p>
			<p class="info-center-text" th:text="#{info2}">hogy segítséget nyújtson a jól ismert kérdésben:</p> <br/>  <br/>
			<p id="essence" th:text="#{essence}">Mit főzzek?</p>
			<p class="info-center-text" th:inline="text">&#9400; [[#{owner}]]</p>
		</div>
	</div>
</body>
</html>